<component name="ArtifactManager">
  <artifact type="war" name="springRestCarTracker:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-Rest-Car-Tracker-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springRestCarTracker:war exploded" />
    </root>
  </artifact>
</component>